RewriteEngine On

# Základní pravidla pro SPA routování

# Pokud požadovaný soubor existuje jako skutečný soubor, použij ho
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule . - [L]

# Pokud požadovaný soubor existuje jako adresář, použij ho
RewriteCond %{REQUEST_FILENAME} -d 
RewriteRule . - [L]

# Všechny ostatní požadavky přesměruj na index.html
# Toto pravidlo zachytí VŠECHNY cesty, které nejsou existující soubory nebo adresáře
RewriteRule . index.html [L]